:root {
  --accent-color: rgb(92, 28, 211);
  --text-color: black;
  --background-color: lightgrey;
  --card-background: white;
  --border-color: white;
}

body.dark-mode {
  --accent-color: rgb(49, 33, 78);
  --text-color: white;
  --background-color: black;
  --card-background: #1e1e1e;
  --border-color: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: 0.3s ease;
}

.main-container {
  width: 600px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
}

.header h1 {
  margin: 20px 0;
  color: white;
}

.header input {
  text-align: center;
  color: white;
  font-size: 50px;
  width: 130px;
  height: 110px;
  margin: 0 0 20px 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.37);
  border-radius: 5px;
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.header button {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 0 0 20px 0;
  cursor: pointer;
}

.header button:hover {
  opacity: 0.8;
}

/* Dark Theme */
.middle-section {
  margin: 10px 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle-section #theme-btn {
  font-size: 1rem;
  padding: 5px 10px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-left: 10px;
}

.middle-section #theme-btn:hover { opacity: 0.8; }
.middle-section #theme-btn:active { opacity: 0.5; }

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  color: var(--text-color);  
  padding: 0 10px;
}

.result .result-card {
  background-color: var(--card-background);  
  color: var(--text-color);
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 0 0 10px 0;
  border: none;
  border-radius: 5px;
}

.result .result-card h2 {
  margin: 0 0 10px 0;
  font-size: 25px;
}

.result .result-card p {
  margin-bottom: 10px;
  font-size: medium;
}